footer.footer
  .container
    .row
      .col5.block_align
        .footer__logo logo
        p.footer__text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 


      nav.col3.block_align
        ul
          li Про нас 
          li Портфоліо
          li Етапи роботи

      .col3.block_align.block_adress
        .footer__adress 
          span.bold УКРАЇНА, 
            span М.ЛЬВІВ, <br>
          | ВУЛ. Зелена 230
        .footer__tel (097)857-70-47

      .col1.block_align.footer_social
        .facebook.item
          a(href="https://www.facebook.com/" target="_blank")
            img(src="img/facebook.svg" alt="facebook")
        .instagram.item
          a(href="https://www.instagram.com/" target="_blank")
            img(src="img/instagram.svg" alt="instagram" )
        .linkedin.item
          a(href="https://www.linkedin.com/" target="_blank")
            img(src="img/linkedin.svg" alt="linkedin" )


.copyright
  .container
    .row
      .col
        p 2020 © Come Back Agency. All Rights Reserved.


