doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      title Comeback
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      link(href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet")
      link(rel="preconnect" href="https://fonts.gstatic.com")
      link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet")
      link(rel="icon" href="img/favicon.ico" type="image/x-icon")
      link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")

      link(rel="stylesheet" href="style/splide.min.css")
      link(rel="stylesheet" href="style/slick.css")
      link(rel="stylesheet" href="style/style.css")

  body
    block header
      include header
    block content
      include content
    block footer
      include footer
    block scripts

      script(src='js/splide.min.js')

      script(src='https://code.jquery.com/jquery-2.2.0.min.js')
      script(src='js/slick.min.js')
      script(src='js/main.js')



      script.
        new Splide( '.portfolio-slider',{
          perPage: 1,
          type: "loop",
          drag: false,
          cover: true,
          heightRatio: 0.5,
          //- autoplay: true,
          interval: 4000,
          speed: 800,
          breakpoints : {
            '1100': {
              heightRatio: 0.9,
              drag: true,
            },
            '900': {
              heightRatio: 1.2, drag: true,
            },
            '700': {
              heightRatio: 1.4, drag: true,
            },
            '500': {
              heightRatio: 1.6, drag: true,
            },
            '400': {
              heightRatio: 1.9, drag: true,
            },
            '350': {
              heightRatio: 2.2, drag: true,
            },
          }
        } ).mount();
      script.
        new Splide(".aboutus-slider", {
          perPage: 1,
          type: "loop",

        } ).mount();

      script.
        $('.horizontal-slider').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: false,
          fade: true,
          asNavFor: '.vertical-slider'
        });
        $('.vertical-slider').slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          asNavFor: '.horizontal-slider',
          dots: false,
          arrows: false,
          swipe:true,

          AdaptiveHeight: true,
          vertical: true,
          focusOnSelect: true

        });

